@font-face {
    font-family: "font-1";
    src: url(../assets/font/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: "font-2";
    src: url(../assets/font/Courgette-Regular.ttf);
}

:root {   
    --color1: #F6F0ED;
    --color2: #342E37;
    --color3: #14153E;
    --color4: #FCA311;
    --color5: #9E768F;
}




/* ****************************** HTML and main Tags************************************ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font-1", sans-serif;
}

body{
    background: var(--color1);
    position: relative;
    width: auto;
    height: 100vh;
    overflow-x: hidden;
}

h1{
    position: relative;
    font-family: "font-2", sans-serif;
    text-align: center;
    margin: 60px 0;
    font-size: 4rem;
    color: var(--color3);
}

.homepage p::first-letter {
    color: var(--color3);
    font-size: 1.6rem;
}

.lorem {
    text-align: justify;
    margin: 40px auto;
    color: var(--color2);
}

.content {
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
}

.article {
    position: relative;
    margin: auto;
    width: 65%;
}

@media screen and (max-width: 700px) {
    .article {
        width: 80%;
    }
}

/* ****************************** Navbar ************************************ */

#navbar {
    position: fixed;
    background: var(--color3);
    height: 100vh;
    width: 240px;
    top: 0px;
    left: -240px;
    transition: 0.5s ease-in-out;
    z-index: 1;
    padding-left: 10px;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color1);
}

a:hover{
    color: var(--color4);
}

#toggle-btn {
    position: absolute;
    top: 15px;
    left: 260px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: 0.3s ease;
}

#toggle-btn span {
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background: var(--color3);
    display: block;
    margin-top: 4px;
    transition: 0.5s ease;
}

#toggle-btn:hover {
    transform: scale(1.2);
}

#navbar.active {
    left: 0;
    box-shadow: 1px 0px 30px 3px var(--color2);
}

#nav.active span {
    position:absolute;
}

#navbar.active span:nth-child(1) {
    transform: rotate(45deg) translateY(200%);

}

#navbar.active span:nth-child(2) {
    opacity: 0;
}

#navbar.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-200%);
}

#navbar.active ~ .content {
    opacity: 0.3;
}

/* ****************************** Click Event ************************************ */

.clickEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 240px;
    visibility: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 100px -30px var(--color3);
}

.show {
    visibility: visible;
}

.btn {
    margin: 20px 0 50px 0;
    padding: 10px 20px;
    border-radius: 50px;
    border: solid 3px var(--color4);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 8px var(--color2);
    background: var(--color3);
    color: var(--color4);
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.2);
}


/* ****************************** Mouse Event ************************************ */

.mouseEvent {
    border: var(--color4) solid 5px;
    border-radius: 18px;
    text-align: center;
    color: var(--color3);
    font-size: 1.6rem;
    width: 600px;
    height: 140px;
    position: relative;
    left: 50%;;
    transform: translateX(-50%);
}

.mouseEventContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontal, .vertical {
    margin-left: 5px;
}

@media screen and (max-width: 700px) {
    .mouseEvent {
        width: 320px;
        font-size: 1.3rem;
    }
}

.mouseMove {
    height: 50px;
    width: 50px;
    position: absolute;
    border: 3px solid var(--color3);
    border-radius: 50px;
    visibility: hidden;
    z-index: -1;
}

/* ****************************** Keypress Event ************************************ */

.keypress {
    background: var(--color3);
    color: var(--color4);
    font-size: 1.2rem;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    padding-top: 6px;
}

.keypress p {
    margin: 10px;
}

.bravo {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    color: var(--color3);
    font-size: 1.6rem;
    font-weight: bolder;
    height: 80px;
    width: 250px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(75, 181, 67);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.active {
    visibility: visible;
}

#key {
    font-size: 1.6rem;
    margin-left: 5px;
}

@media screen and (max-width: 850px) {
    .keypress {
        height: 150px;
        padding-top: 18px;
    }
}

/* ****************************** Scroll Event************************************ */

.scrollEvent h1{
    margin: 130px 0 0 0;
}

.scroll {
    text-align: center;
    margin: 20px auto;
    font-size: 1.6rem;
    color: var(--color3);
    font-weight: bolder;
}

.scrollBar {
    background: var(--color3);
    color: var(--color4);
    position: fixed;
    width: 92%;
    right: 0;
    height: 80px;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 24px;
    top: -80px;
    transition: 0.5s;
}

@media screen and (max-width: 1100px) {
    .scrollBar {
        width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .scrollBar {
        width: 80%;
    }
}

/* ****************************** Form Event************************************ */

.formEvent {
    position: absolute;
    top: 180%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: var(--color3);
    color: var(--color4);
    border-radius: 15px;
    box-shadow: rgba(20, 21, 62, 0.6) 5px 5px, rgba(20, 21, 62, 0.45) 10px 10px, rgba(20, 21, 62, 0.3) 15px 15px, rgba(20, 21, 62, 0.2) 20px 20px;
}

input, select {
    margin: 10px 0px;
    padding: 7px 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color3);
    background-color: var(--color1);
    border: 4px solid var(--color1);
    transition: 0.4s ease;
}

select, input[type="submit"]{
    cursor: pointer;
}

input[type="submit"] {
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    border: 4px solid var(--color1);
    border-radius: 50px;
    letter-spacing: 2px;
    background: var(--color3);
    color: var(--color4);
}
input[type="submit"]:active {
    transform: scale(1.1);
}

.showForm {
    text-align: center;
    margin-top: 60px;
    font-size: 1.2rem;
    color: var(--color3);
}

/* ****************************** Calculatrice ************************************ */

.calculatrice {
    display: grid;
    width: 350px;
    margin: 0 auto;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 60px repeat(5, 40px);
    grid-template-areas: 
    "res res res res"
    "7 8 9 reset"
    "4 5 6 reset"
    "1 2 3 reset"
    "0 dot plus minus"
    "equal equal times div";
    border: 2px solid var(--color3);
    border-radius: 4px;
}

.result {
    text-align: right;
    padding: 7px;
    font-size: 2rem;
    color: var(--color3);
    grid-area: res;
}

#equal {
    grid-area: equal;
}

#clear {
    grid-area: reset;
}

.calculatrice button {
    background: var(--color3);
    color: var(--color4);
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.calculatrice button:hover {
    opacity: 0.8;
}