@font-face {
    font-family: "font-1";
    src: url(../assets/font/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: "font-2";
    src: url(../assets/font/Courgette-Regular.ttf);
}

:root {   
    --color1: #F6F0ED;
    --color2: #342E37;
    --color3: #14153E;
    --color4: #FCA311;
    --color5: #9E768F;
}


/* ****************************** HTML Tags and homepage************************************ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font-1", sans-serif;
}

body{
    background: var(--color1);
    position: relative;
}

h1{
    font-family: "font-2", sans-serif;
    text-align: center;
    margin: 60px;
    font-size: 4rem;
    color: var(--color3);
}

.lorem {
    text-align: justify;
    margin: 40px auto;
    width: 75%;
    color: var(--color2);
}


/* ****************************** Navbar ************************************ */

#navbar {
    position: absolute;
    background: var(--color3);
    height: 100vh;
    width: 240px;
    top: -60px;
    left: -240px;
    transition: 0.5s ease-in-out;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color1);
    margin-left: 10px;
}

a:hover{
    color: var(--color4);
}

#toggle-btn {
    position: absolute;
    top: 15px;
    left: 260px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

#toggle-btn span {
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background: var(--color3);
    display: block;
    margin-top: 4px;
    transition: 0.5s ease;
}

#navbar.active {
    left: 0;
    box-shadow: 1px 0px 30px 3px var(--color2);
}

#nav.active span {
    position:absolute;
}

#navbar.active span:nth-child(1) {
    transform: rotate(45deg) translateY(200%);

}

#navbar.active span:nth-child(2) {
    opacity: 0;
}

#navbar.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-200%);
}


/* ****************************** Click Event ************************************ */

.clickEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 240px;
    visibility: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 100px -30px var(--color3);
}

.show {
    visibility: visible;
}

.btn {
    margin: 20px 0 50px 0;
    padding: 10px 20px;
    border-radius: 50px;
    border: solid 3px var(--color4);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 8px var(--color2);
    background: var(--color3);
    color: var(--color4);
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.2);
}


/* ****************************** Mouse Event ************************************ */